<mat-toolbar color="primary" class="mat-elevation-z4">
  <span><mat-icon>forum</mat-icon> My Blog</span>
  <button routerLink="/posts" mat-button class="header-icon favorite-icon" aria-label="viewAllPost">
    Blogs
  </button>
  <button routerLink="/posts/myblog" mat-button class="header-icon" aria-label="viewMyPost">
    My Blogs
  </button>
  <button routerLink="/posts/add" mat-button class="header-icon" aria-label="addPost">
    Add blog
  </button>
  <span class="header-spacer"></span>
    <div *ngIf="auth.checkAuth().user | async as user; else showLogin">
      Hello, {{ user.displayName }} 
      <a routerLink='user/login' color="accent" mat-raised-button class="header-nav" (click)="auth.SignOut()">
        Logout
      </a>
    </div>
    <ng-template #showLogin>
      <a routerLink="user/login" color="accent" mat-raised-button class="header-nav">
        Login
      </a>
    </ng-template>
</mat-toolbar>