<div class="postsList">
    <ng-container *ngFor="let post of posts">
        <mat-card class="posts-card">
            <mat-card-header>
                <mat-card-title>{{post.userId}}</mat-card-title>
                <mat-card-subtitle>{{post.creationDate | date }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{post.imagePath}} alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h3>{{[post.title]}}</h3>
                <p>
                {{post.description}}
                </p>
            </mat-card-content>
            </mat-card>
    </ng-container>
</div>

<button mat-fab color="accent" aria-label="Add blog" class="add-blog" routerLink='add'>
    <mat-icon>add</mat-icon>
</button>
