.postsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.posts-card {
    max-width: 300px;
    margin: 40px;
}

.add-blog {
    position: fixed;
    bottom: 20px;
    right: 20px;
}