
<div class="box mat-elevation-z8">
    <div class="header">
        <h1>Add a Blog</h1>
    </div>
    <form class="form-container">
        <div class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" name="title" [(ngModel)]="title">
            </mat-form-field>
        </div>
        <div  class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" name="description" [(ngModel)]="description"></textarea>
            </mat-form-field>
        </div>
        <div class="form-entity imageUpload">
            <input type="file" #fileInput id="uploadFile" name="uploadFile" (change)="uploadImage($event)"
            accept="image/*" />
        </div>
        <div class="button-wrapper">
            <button mat-raised-button color="accent" (click)="addBlog($event)">Submit</button>
        </div>
    </form>

</div>