<div class="box mat-elevation-z8">
    <div class="header">
        <h1>Sign Up</h1>
    </div>
    <form class="form-container">
        <div class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" name="name" [(ngModel)]="name">
            </mat-form-field>
        </div>
        <div class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="email" [(ngModel)]="email">
            </mat-form-field>
        </div>
        <div  class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password">
            </mat-form-field>
        </div>
        <div class="button-wrapper">
            <button mat-raised-button color="accent" (click)="SignUpWithEmail($event)">Submit</button>
        </div>
    </form>
    <mat-divider></mat-divider>
    <p>Already have an account? </p>
    <div class="button-wrapper">
        <button routerLink="../login" mat-raised-button color="accent">Login</button>
    </div>

</div>