<div class="box mat-elevation-z8">
    <div class="header">
        <h1>Login</h1>
    </div>
    <form class="form-container">
        <div class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
                <!-- <mat-error *ngIf="email && email.invalid && email.touched">
                    Email is invalid
                </mat-error> -->
            </mat-form-field>
        </div>
        <div  class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password">
                <!-- <mat-error *ngIf="email && email.invalid && email.touched">
                    Password is invalid
                </mat-error> -->
            </mat-form-field>
        </div>
        <div class="button-wrapper">
            <button mat-raised-button color="accent" (click)="LogInUsingEmail($event)">Submit</button>
        </div>
    </form>
    <mat-divider></mat-divider>
    <div class="button-wrapper">
        <button mat-raised-button color="primary" (click)="LoginUsingGoogle()"><mat-icon>mail</mat-icon> Login with Google</button>
    </div>
    <mat-divider></mat-divider>
    <p>Don't have an account? </p>
    <div class="button-wrapper">
        <button routerLink="../signup" mat-raised-button color="accent">Sign Up</button>
    </div>

</div>