.box {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px auto;
    padding: 30px;
}

.header h1{
    text-align: end;
    font-size: 2.5em;
    opacity: 0.6;
}

.form-entity {
    display: flex;
}

::ng-deep mat-form-field {
    width: 100%;
}

.mat-divider {
    margin: 10px 0;
}

.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
button {
    width: 100%;
    display: flex;
    justify-content: center;
}